table{
    margin-left:auto; 
    margin-right:auto;
}

textarea{
    display: block;
    margin-bottom: 10px;
    margin-left:auto; 
    margin-right:auto;
    border-radius: 8px;
 }

 button{
    height: 60px;
    width: 80px;
    margin: 1px	
 }
